<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Ga+Maamli&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jugador 1 - Inicio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../PUBLIC/assets/css/estilos.css" rel="stylesheet">
</head>
<body class="fin">
    <div class="container mt-5">
        <div class="d-flex justify-content-between">
            <h1>Jugador 1 - Inicio</h1>
            <div class="contador-puntos color1">Puntos: 0</div>
        </div>
<!-- Espacio para informacion del j1 -->
        <form id="formJugador1" class="mt-4">
            <div class="mb-3">
                <label for="nombreJugador1" class="form-label color1">Nombre</label>
                <input type="text" class="form-control" id="nombreJugador1" placeholder="Escribe tu nombre">
            </div>
            <div class="mb-3">
                <label for="aliasJugador1" class="form-label color1">Alias</label>
                <input type="text" class="form-control" id="aliasJugador1" placeholder="Escribe tu alias">
            </div>
<!-- Boton para continuar en jugador 2 -->
 <div class="text-center">
            <button type="submit" class="btn btn-primary">Continuar</button>
        </form>
    </div>
 </div>
    <script src="../../PUBLIC/assets/js/Inicioj1.js"></script>
</body>

</html>
